section.mb-5#conference
  div.container
    h3.text.mt-5.mb-4 2020 Conference cancellation
    div.col-lg-12.mb-2
        ul
          li This workshop event is a replacement for the 2020 Swift conference which must be cancelled due to COVID-19 and crowd size considerations
          li If you have already purchased a ticket you have the option to transfer your conference ticket to this event.
          li Conference ticket purchasers have the first chance to transfer their ticket to the limited in-person ticket before June 1st.
          li You may also request a complete refund (minus eventbrite processing fees out of our control)

section.mb-5#refunds
  div.container
    h3.text.mt-5.mb-4 Refund Policy
    div.col-lg-12.mb-2
      p Your ticket is refundable up until 2 weeks prior to the event. We will return the entire ticket price, minus Eventbrite's fees. You may also transfer your ticket at any time.